# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
# package-lock.json
.idea
bower_components
.DS_Store
key.pem
cert.pem
# yarn.lock

static/robots.txt


*.log
nuxt.d.ts
.output

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
