@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "InterBold";
  src: url("/assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
}
/*@font-face {font-family: 'InterExtraBold';src: url('/assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');}*/
@font-face {
  font-family: "InterExtraBold";
  src: url("/assets/fonts/circular/CircularStd-Black.otf") format("truetype");
}

@font-face {
	font-family: "cerebriBold";
	src: url("/assets/fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.ttf") format("truetype");
  }

  @font-face {
	font-family: "cerebriExtraBold";
	src: url("/assets/fonts/Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.ttf") format("truetype");
  }

  @font-face {
	font-family: "cerebrilight";
	src: url("/assets/fonts/Cerebri.Sans.Pro/CerebriSansPro-ExtraLight.ttf") format("truetype");
  }


  @font-face {
	font-family: "cerebriregular";
	src: url("/assets/fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.ttf") format("truetype");
  }
  @font-face {
	font-family: "cerebrimedium";
	src: url("/assets/fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.ttf") format("truetype");
  }

@layer base {
  html {
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  /*  coatingai pills  */
  .pills-ul {
    @apply grid gap-x-8 gap-y-4 px-0 py-4 text-sm font-bold text-white md:grid-cols-6 xl:grid-cols-6 2xl:gap-x-8 2xl:gap-y-4;
  }
  .pills-li {
    @apply relative flex h-12 cursor-pointer flex-col items-center justify-center rounded-3xl border-2 border-amber-500 px-2 py-2 hover:ring hover:ring-amber-500;
  }
  .pills-active {
    @apply ring-2 ring-green-500 ring-offset-2 ring-offset-black;
  }
  .pills-flag-ok {
    @apply absolute top-3.5 right-3 fill-green-600;
  }
}


h1{
	font-family: 'cerebriExtraBold';
}

p{
	font-family: 'cerebriregular';
}

.medium{
font-family: 'cerebrimedium';
}


.normal{
	font-family: 'cerebriregular';
}


.btn__close{
  background-color: #fa4529 !important ;
  right: 0% !important;
  top: 24px !important;
  padding: 8px 16px;
}

.btn__next {
  background-color: #fa4529 !important ;
 
  padding: 8px 16px;
  right: 0% !important;
}

.btn__prev {
  background-color: #fa4529 !important ;
 
  padding: 8px 16px;
  left: 0% !important;
}


input, select {
  font-family: 'cerebriregular';
}



.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-height: 1.5rem;
  min-width: 1.5rem;
  background-color: #fff;
  border: 1px solid #ababab; 
  outline: none;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #EF4444;
  border-color: #EF4444;
}

.custom-checkbox:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1.25rem;
  color: #fff;
}

